name: Deploy to Hetzner

on:
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy DreamIT
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install sshpass
        run: sudo apt-get update && sudo apt-get install -y sshpass

      - name: Generate production env file
        run: |
          cat <<'EOF' > .env
          NEXT_PUBLIC_API_URL=${{ secrets.NEXT_PUBLIC_API_URL }}
          EOF

      - name: Copy files to Hetzner server
        run: |
          sshpass -p "${{ secrets.HETZNER_PASSWORD }}" rsync -az --delete --include='.env' --include='docker-compose.prod.yml' --include='Caddyfile' --exclude='.git*' -e "ssh -o StrictHostKeyChecking=no" ./ ${{ secrets.HETZNER_USER }}@${{ secrets.HETZNER_HOST }}:${{ secrets.HETZNER_PROJECT_PATH }}

      - name: Deploy on Hetzner server
        run: |
          sshpass -p "${{ secrets.HETZNER_PASSWORD }}" ssh -o StrictHostKeyChecking=no ${{ secrets.HETZNER_USER }}@${{ secrets.HETZNER_HOST }} '
            cd ${{ secrets.HETZNER_PROJECT_PATH }} &&
            docker compose -f docker-compose.prod.yml pull; \
            docker compose -f docker-compose.prod.yml up -d --build
          "
